body {
    background-color: rgb(19, 38, 92);
}

#mainTitle {
    color: rgb(230, 201, 37);
    font-family: Georgia, Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
}

#secondTitle {
    color: rgb(255, 255, 255);
    font-family: Georgia, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.mainButtons {
    transition-duration: 0.4s;
    background-color: rgb(230, 201, 37);
    font-size: 15px;
    font-family: Georgia, Helvetica, sans-serif;
    color:rgb(19, 38, 92);
    font-weight: bold;
    margin:0 auto;
    display:block;
    border-radius: 7px;
    box-shadow: 15 8px 16px 0 rgba(0,0,0,0.2), 15 6px 20px 0 rgba(0,0,0,0.19);
}
.mainButtons:hover {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Georgia, Helvetica, sans-serif;
    color:rgb(19, 38, 92);
    font-weight: bold;
    margin:0 auto;
    display:block;
    border-radius: 7px;
    box-shadow: 2px 0 #999;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.assignText {
    color: rgb(255, 255, 255);
    font-family: Georgia, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}